<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="stacked">Nombre de usuario</ion-label>
      <ion-input formControlName="username" type="text" ngModel required></ion-input>
      <span class="error ion-padding" *ngIf="isSubmitted">
        Nombre de usuario es requerido.
      </span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" ngModel required></ion-input>
      <span class="error ion-padding" *ngIf="isSubmitted">
        Contraseña es requerida.
      </span>
    </ion-item>
    <div padding>
      <ion-button type="submit" color="success" expand="block">Iniciar sesión</ion-button>
      <ion-button color="success" expand="block" (click)="register()">Registrarse</ion-button>
    </div>
  </form>
</ion-content>