<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item slot="end" href="/log-in">
      Iniciar sesión
    </ion-item>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" href="/filters">Filtros</ion-button>
  <ion-card *ngFor="let advert of adverts" href="/details">
    <ion-card-header>
      <ion-card-title>{{advert.description}}</ion-card-title>
      <ion-card-subtitle>{{advert.price}}€</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{advert.guests}} huéspedes - {{advert.bathrooms}} baños - {{advert.beds}} camas - {{advert.bedrooms}} habitaciones 
    </ion-card-content>
  </ion-card>
</ion-content>