<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content >
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item detail="false" (click)="search()">
              <ion-label>Búsqueda</ion-label>
            </ion-item>
            <ion-item detail="false" (click)="myAdverts()" *ngIf="!isLogin">
              <ion-label>Mis anuncios</ion-label>
            </ion-item>
            <ion-item detail="false" (click)="myBooks()" *ngIf="!isLogin">
              <ion-label>Mis reservas</ion-label>
            </ion-item>
            <ion-item detail="false" (click)="login()" *ngIf="isLogin">
              Iniciar sesión
            </ion-item>
            <ion-item detail="false" (click)="profile()" *ngIf="!isLogin">
              Perfil
            </ion-item>
            <ion-item detail="false" (click)="logout()" *ngIf="!isLogin">
              Cerrar sesión
            </ion-item>
            <ion-item>
              <ion-toggle (ionChange)='toggleTheme($event)'></ion-toggle>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
