<ion-header>
  <ion-toolbar>
    <ion-buttons id="return" (click)="returnAdverts()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="adverts">
    <ion-card-header>
      <img src="assets/sevilla.jpg" />
      <ion-card-title>{{adverts.description}}</ion-card-title>
      <ion-card-subtitle><strong>Dirección:</strong> {{adverts.address}}</ion-card-subtitle>
      <ion-card-subtitle><strong>Precio:</strong> {{adverts.price}}€ por noche</ion-card-subtitle>
      <ion-card-subtitle><strong>Publicado:</strong>  {{adverts.published}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle><strong>Huesped/es:</strong> {{adverts.guests}} </ion-card-subtitle>
      <ion-card-subtitle><strong>Baño/s:</strong> {{adverts.bathrooms}}</ion-card-subtitle>
      <ion-card-subtitle><strong>Cama/s:</strong> {{adverts.beds}}</ion-card-subtitle>
      <ion-card-subtitle><strong>Habitaciones:</strong> {{adverts.bedrooms}}</ion-card-subtitle>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle><strong>Contacto:</strong> {{adverts.user.name}} {{adverts.user.surname}} </ion-card-subtitle>
      <ion-card-subtitle><strong>Teléfono:</strong> {{adverts.user.telephone}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Media de críticas: {{average}}<ion-icon name="star"></ion-icon>
      </ion-card-title>
    </ion-card-content>
    <ion-card-content *ngFor="let review of reviews">
      <ion-card-title>{{review.stars}}/5<ion-icon name="star"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle> {{review.published}}</ion-card-subtitle>
      <ion-card-subtitle><strong>Descripción:</strong> {{review.description}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="islogin && !propietary">
    <ion-input placeholder="Nueva crítica"></ion-input>
    <ion-button color="success" expand="block">Enviar crítica</ion-button>
  </ion-card>
</ion-content>

<ion-footer *ngIf="adverts && islogin && !propietary">
  <ion-toolbar>
    {{adverts.price}}€ por noche <ion-button color="success" id="book" (click)="book()">Reservar</ion-button>
  </ion-toolbar>
</ion-footer>